* {
    font-family: lato;
    /* font-size: 14px; */
}


.inputs_zindex {
    z-index: 10;
}

#top {
    opacity: 1;
    transition: 1s;
}

#nav {
    opacity: 1;
    transition: 1s;
}

a.hover:hover {
    opacity: 0.5;
}




img.flaga {
    background-color: #182B4B;
}

.carousel img {
    width: 80%;
    height: 40vh;
    object-fit: cover;
}

.carousel-caption {
    right: 0;
    left: 0;
}

span.carousel-control-prev-icon {
    background-color: #3d76da;
    width: 40px;
    height: 40px;
}

span.carousel-control-next-icon {
    background-color: #3d76da;
    width: 40px;
    height: 40px;
}

div.title_carousel {
    background-color: #182B4B;
}

#fist_post_title {
    background-color: #182B4B;
}

.post {
    background-color: #182B4B;
}

p.posts {
    color: #182B4B;

}

p.post_text {
    font-size: 21px;
}

h1.posts {
    color: #182B4B;
}

small.posts {
    color: #182B4B;
}

a.face_box {
    width: 30px;
    height: 30px;
}

a.choice_reg {
    height: 220px;
}

.navbar a {
    font-size: 16px;
    letter-spacing: 2.1px;
}

img.post {
    width: 100%;
    height: 200px;
}

img.trainer {
    width: 100%;
    height: 500px;
}



.contact label {
    color: white;
}

body {
    margin: 0;
    padding: 0;
    /* font-family: helvetica, sans-serif; */
}

a {
    color: #00abff;
    text-decoration: none;
}

h1 {
    font-weight: normal;
    border-bottom: 1px solid #bbb;
    padding: 0 0 10px 0;
    letter-spacing: 2.95px;
}

h2 {
    font-weight: normal;
    margin: 30px 0 0;
    letter-spacing: 2.95px;
}


h3,
h4,
h5 {
    letter-spacing: 2.95px;
}

#content {
    float: left;
    width: 60%;
    padding: 0 0 0 30px;
}

#sidebar {
    float: right;
    width: 30%;
    padding: 10px;
    background: #efefef;
    height: 100%;
}

p.date {
    color: #ccc;
    font-family: georgia, serif;
    font-size: 12px;
    font-style: italic;
}

/* pagination */
.pagination {
    margin: 40px 0;
    font-weight: bold;
}

/* forms */
label {
    float: left;
    clear: both;
    color: #333;
    margin-bottom: 4px;
}

input,
textarea {
    clear: both;
    float: left;
    margin: 0 0 10px;
    background: #ededed;
    border: 0;
    padding: 6px 10px;
    font-size: 12px;
}

input[type=submit] {
    font-weight: bold;
    background: #00abff;
    color: #fff;
    /* padding: 10px 20px; */
    font-size: 14px;
    text-transform: uppercase;
}

.errorlist {
    color: #cc0033;
    float: left;
    clear: both;
    padding-left: 10px;
}

/* comments */
.comment {
    padding: 10px;
}

.comment:nth-child(even) {
    background: #efefef;
}

.comment .info {
    font-weight: bold;
    font-size: 12px;
    color: #666;
}


@media (max-width:1024px) {

    body {
        min-height: 120vh;
    }

    nav.navbar {
        /* height: 110px; */
        /* padding-bottom: 10px; */
        z-index: 20;
    }

    .navbar-collapse {
        max-height: 65vh;
        overflow-y: auto;
    }

    table {
        overflow-x: auto;
        display: block;
    }

    .fixed-top .navbar-collapse {
        overflow-y: auto;
    }

    img.post {
        width: 100%;
        height: 100px;
    }

    img.trainer {
        width: 100%;
        height: 120px;
    }

    img.sponsor_main {
        width: 120px;
        height: 120px;
        object-fit: cover;
    }

    img.sponsor {
        max-width: 70px;
        object-fit: cover;
    }

    h1 {
        font-size: 19px;
    }

    h2 {
        font-size: 16px;
    }

    h3 {
        font-size: 14px;
    }

    p.post_text {
        font-size: 13px;
    }

    /* p.post_text {
        font-size: 3px;
    } */

    img.sponsor {
        width: 70px;
        height: 70px;
    }

    .lock-scroll {
        overflow: hidden;
    }
}

.navbar a {
    font-size: 12px;
}