{% extends "page_ap/base.html" %}

{% block title %}{% endblock %}

{% block content %}

<article class="col-10 mx-auto p-0 m-0 text-center row">
    <div class="card mb-3 mt-3 mx-auto col-12">
        <div class="row no-gutters">
            <div class="col-md-4">
                {% load thumbnail %}
                {% thumbnail profile.photo "4000" crop="center" as im %}
                <source srcset="{{ im }}" type="image/png" />
                <div class="">
                    <img class="mx-auto col-12 text-center p-0 m-0" src="{{ MEDIA_URL }}{{im}}" alt="" title="">

                </div>
                {% endthumbnail %}
            </div>
        </div>
    </div>
</article>


{% endblock %}