{% extends "account/base.html" %}
{% load crispy_forms_tags %}
{% crispy form.helper %}

{% block content %}
{% if messages %}
<ul class="messages text-dark col-12 mx-auto text-center text-primary">
    {% for message in messages %}
    <li class="{{ message.tags }} text-dark col-12 mx-auto text-center text-primary">
        {{ message|safe }}
        <a href="#" class="close">x</a>
    </li>
    {% endfor %}
</ul>
{% endif %}
<h1 class="col-12 text-center mx-auto ">Edytuj swoje konto.</h1>
{% if form.errors %}
<p class="col-12 text-center mx-auto text-primary">
    Nazwa użytkownika lub hasło są nieprawidłowe.
    Spróbuj ponownie.
    {% for key,value in user_form.errors.items %}
    <li class="text-primary">{{ key|escape }} : {{ value|escape }}</li>
    {% endfor %}
</p>
{% else %}
<p class="col-12 text-center mx-auto text-primary">Wypełnij poniższy formularz, aby edytować:</p>
{% endif %}
<form method="post" class="uniForm col-lg-6 mx-auto text-center blueForms border" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form|crispy }}
    <div class="col-12 mx-auto text-center">
        <p id="button" class="col-12 text-center mx-auto h-100"><input class="mx-auto text-center col-12" type="submit"
                value="Zapisz zmiany"></p>
    </div>
</form>
{% endblock %}