{% extends "page_ap/base.html" %}

{% block title %}{% endblock %}

{% block content %}
{% load thumbnail %}
<article class="col-12 mt-3 mx-auto p-0 m-0 text-center row">
    <div class="col-lg-10 mx-auto text-right">
        <a href="{% url 'user_update' pk=user.id %}"><button class="mr-auto btn btn-primary">Edytuj
                użytkownika</button></a>
        <a href="{% url 'profile_player_update' pk=profile.id %}"><button class="mr-auto btn btn-primary">Edytuj
                profil</button></a>
    </div>
    <div class="col-lg-11 row mx-auto text-center border border-primary d-flex align-items-start">
        <div class="col-lg-4 mx-auto">
            {% if profile.photo %}
            {% if profile.photo|is_portrait %}
            <div class="portrait">
                {% thumbnail profile.photo "200x300" crop='center' format="WEBP" as im %}
                <source srcset="{{ im }}" type="image/webp">
                <img class="m-1" src="{{ MEDIA_URL }}{{im}}" alt="" title="">
                {% endthumbnail %}
            </div>
            {% else %}
            <div class="landscape">
                {% thumbnail profile.photo "300x200" crop='center' format="WEBP"  as im %}
                <source srcset="{{ im }}" type="image/webp">
                <img class="m-1" src="{{ MEDIA_URL }}{{im}}" alt="" title="">
                {% endthumbnail %}
            </div>
            {% endif %}
            {% else %}
            <div class="portrait">
                {% thumbnail profile.no_image.image "200x200" crop='center' format="WEBP"  as im %}
                <source srcset="{{ im }}" type="image/webp">
                <img class="card-img-top m-1" src="{{ MEDIA_URL }}{{im}}" alt="" title="">
                {% endthumbnail %}</div>
            {% endif %}
            {% if profile.rodo %}
            <div class="col-12 text-center row m-0 p-0">
                <span class="col-12 text-success mx-auto text-center">Wyraziłeś zgode na wyświetlanie zdjęcia oraz
                    nazwiska</span>
            </div>
            {% else %}
            <div class="col-12 text-center row m-0 p-0">
                <span class="col-12 text-danger mx-auto text-center">Nie wyraziłeś zgody na wyświetlanie zdjęcia oraz
                    nazwiska</span>
            </div>
            {% endif %}
            <form class="col-12 text-center m-0 p-0" action="" method="POST">
                {% csrf_token %}
                <input name="player" type="hidden" value="{{profile.id}}">
                {% if profile.rodo %}
                <button name="active" class="btn btn-danger" type="submit">Wycofaj zgodę</button>
                {% else %}
                <button name="active" class="btn btn-success" type="submit">Wyrażam zgodę</button>
                {% endif %}
            </form>
        </div>
        <div class="col-lg-6 mx-auto m-0 p-0 text-center">
            {% if profile.is_activated %}
            <span class="col-12 m-0 p-0 text-success mx-auto text-center">Konto aktywne</span>
            {% else %}
            <div class="col-12 m-0 p-0 text-center row">
                <span class="col-12 text-danger mx-auto text-center">Konto nieaktywne</span>
                <span class="col-12 text-success mx-auto text-center">Poproś trenera o aktywację konta</span>
            </div>
            {% endif %}

            <h4 class="col-12 mx-auto text-center">
                {{profile.get_position_display|upper}}
            </h4>
            <!-- <p class="col-12 mx-auto text-center"><small class="text-muted">{{profile.get_role_display}}</small></p> -->
            <h4 class="col-12 mx-auto text-center">
                {{profile.user.first_name}} {{profile.user.last_name}}
            </h4>
            <p class="col-12 mx-auto text-center">Data urodzenia: <small
                    class="text-muted">{{profile.date_of_birth}}</small></p>
            <p class="col-12 mx-auto text-center">Email: {{profile.user.email}}</p>
            <p class="col-12 mx-auto text-center">Telefon: {{profile.phone_number}}</p>
            <p class="col-12 mx-auto text-center">Data rozpoczęcia kariery:
                {% if profile.date_of_start %}
                {{profile.date_of_start}}
                {% else %}
                Brak danych
                {% endif %}
            </p>
            <p class="col-12 mx-auto text-center">
                {% if profile.is_pupil %}
                Wychowanek akademii: TAK
                {% else %}
                Wychowanek akademii: NIE <br>
                {% if profile.from_team %}
                Poprzedni klub: {{profile.from_team}}
                {% endif %}
                {% endif %}
            </p>
            <p class="col-12 mx-auto text-center">Drużyna:</p>
            <a class="mx-auto" href="{% url 'team_details' slug=profile.team.slug pk=profile.team.id %}">
                {{profile.team.yearbook.title}} {{profile.team.name}}</a>
            </p>
            <div class="col-12">
                <p class="col-12 mx-auto text-center mt-3 border-bottom border-primary">Opis kariery:</p>
                <p class="col-12 mx-auto text-justify">{{profile.text|safe}}</p>
            </div>
        </div>


    </div>
</article>
{% endblock %}